


 <!--
The following div is a radio button selection

-->
<div class="input-group mb-3">
<fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">{{ content["radio_title"] }}</legend>
      <div class="col-sm-10">
     {% for name,label in radios %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ name }}" id="gridRadios1_{{ radio_title }}_{{ name }}" value="option1">
          <label class="form-check-label" for="gridRadios1_{{ radio_title }}_{{ name }}">
              {{ label }}
          </label>
        </div>
       {% endfor %}
      </div>
    </div>
  </fieldset>
</div>